<html>
<title> MyUPMClasroom</title>
<body bgcolor="#ABF5F4">
<center><h1> MY_UPMClasroom </h1> </center>
<form action="/listaralumnos" method="get">
<ul>
  <h1> usuario guardado </h1>

  <h3 class="button">
    <button type="submit">ver lista</button>
  </h3>
 </ul>
</form>
<form action="/" method="get">
<p align="right">
<class="button">
    <button type="submit">Volver menu</button>
</p>
</body>
</html>