<html>
<title> MyUPMClasroom</title>
<body bgcolor="#ABF5F4">
<center><h1> Usuario introducido no valido </h1> </center>
<form method="get" action="/newusuario">
    <button type="submit">Volver a intentar</button>
</form>
<form method="get" action="/">
    <button type="submit">Volver a inicio</button>
</form>
</body>
</html>